.first-video {

    &__wrapper {
        display: grid;
        grid-template-columns: 223px 1fr;
        gap: 40px;
        padding: 24px 0;
    }
}

.upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 43px;
    height: 396px;
    background: #FFFFFF;
    border: 2px dashed #A34AF6;
    border-radius: 8px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;

    &__video {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 30;
    }

    &__loader {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
    }
}

.available-download {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__title {
        font-size: 16px;
        font-weight: 500;
    }

    &__loader {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 16px;
        font-weight: 400;


        & > div {
            display: flex;
            align-items: center;
            gap: 10px;

            & > span {
                font-weight: 500;
            }
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 16px;

        & > a {
            color: #A34AF6;
            text-decoration: none;
        }
    }

    &__block {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 16px;

        & > span {
            font-size: 12px;
            color: #979797;
        }

        & > button {
            font-size: 14px;
            color: #A34AF6;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 20px;

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            font-size: 14px;
            font-weight: 600 !important;
            color: #FFFFFF !important;
            padding: 0 32px;
            background: #A34AF6 !important;
            border: 1px solid #a34af6 !important;
            border-radius: 12px;
            text-decoration: none;
            transition: all 0.3s;

            &:hover {
                background: none !important;
                border: 1px solid #A34AF6 !important;
                color: #A34AF6 !important;
            }
        }
    }

    &__button {
        font-size: 14px;
        font-weight: 500;
        color: #A34AF6;
        transition: all 0.2s;

        &:hover {
            letter-spacing: 0.5px;
        }
    }

    &__copies {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 12px;
    }

    &__btn-copy {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    &__copy {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 14px;

        &-link {
            color: #A34AF6;
            text-decoration: none;
            transition: all 0.2s;

            &:hover {
                letter-spacing: 0.5px;
            }
        }
    }
}

@media (max-width: 992px) {
    .first-video {

        &__wrapper {
            display: flex;
            flex-direction: column-reverse;
            gap: 20px;
            padding: 12px 0 24px;
        }
    }

    .upload {
        gap: 40px;
        width: 270px;
        height: 480px;
        align-self: center;
    }

    .available-download {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &__title {
            font-size: 16px;
            font-weight: 500;
        }

        &__loader {
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-size: 16px;
            font-weight: 400;


            & > div {
                display: flex;
                align-items: center;
                gap: 10px;

                & > span {
                    font-weight: 500;
                }
            }
        }

        &__link {
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 16px;

            & > a {
                color: #A34AF6;
                text-decoration: none;
            }
        }

        &__block {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 16px;
        }

        &__buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            width: 100%;

            &-link {
                width: 100%;
            }

        }

        &__button {
            font-size: 14px;
            font-weight: 500;
            color: #A34AF6;
            width: fit-content;
            align-self: start;
        }

        &__copies {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }

        &__btn-copy {
            display: flex;
            align-items: center;
            gap: 4px;
            width: 100%;

            & > button {
                width: 100% !important;
            }

            & > div {
                display: none;
            }
        }

        &__copy {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            font-size: 14px;
            background: #FFFFFF;
            width: 100%;
            padding: 12px;

            &-link {
                color: #A34AF6;
                text-decoration: none;
            }

            &-mobile {
                display: none;
            }
        }
    }

}